﻿@model IEnumerable<webProjeOdevi.DAL.Item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ITM_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITM_Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITM_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITM_Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITM_Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CAT_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ITM_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITM_Photo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITM_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITM_Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITM_Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CAT_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ITM_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ITM_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ITM_ID })
        </td>
    </tr>
}

</table>
