﻿@{
    ViewBag.Title = "Hakkımızda";
}

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="/Home">Anasayfa</a></li>
                <li class="active">Hakkımızda</li>
            </ol>
        </div>
    </div>
</div>


    <div class="container">
    <div class="jumbotron">
        <h5>Mutluyum Çünkü</h5>
        <p>
            Amacımız size ve sevdiklerinize bu siteye girip alışveriş yaptıktan sonra "Mutluyum çünkü" sizden aldım 
            dedirtmektir.
        </p>
    </div>
    <p>Her Hakkı Saklıdır</p>
    <p>2017</p>
</div>

<!--contact-end-->
<!--map-start-->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.987133727636!2d30.32525978328247!3d40.740308630605504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd81085b5551312fd!2sBilgisayar+Ve+Bili%C5%9Fim+Bilimleri+Fak%C3%BCltesi!5e0!3m2!1str!2s!4v1481989433671" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>