﻿@{
    ViewBag.Title = "İletişim";
}

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="/Home">Anasayfa</a></li>
                <li class="active">İletişim</li>
            </ol>
        </div>
    </div>
</div>

<div class="contact">
    <div class="container">
        <div class="contact-top heading">
            <h2>İLETİŞİM</h2>
        </div>
        <div class="contact-text">
            <div class="col-md-3 contact-left">
                <div class="address">
                    <h5>Adres</h5>
                    <p>
                        Mutluyum Çünkü,
                        <span></span>
                        Serdivan / Sakarya.
                    </p>
                    <p>
                        Tel: +90 555 555 55 55,
                        <span></span>
                        Email: <a href="mailto:hilaldogrusoz@gmail.com">mutluyumcunku@gmail.com</a>
                    </p>
                </div>
            </div>
            <div class="col-md-9 contact-right">
                <form>
                    <input type="text" placeholder="İsim">
                    <input type="text" placeholder="Telefon numarası">
                    <input type="text" placeholder="Email">
                    <textarea placeholder="Mesajınız" required=""></textarea>
                    <div class="submit-btn">
                        <input type="submit" value="GÖNDER">
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--contact-end-->
<!--map-start-->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.987133727636!2d30.32525978328247!3d40.740308630605504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd81085b5551312fd!2sBilgisayar+Ve+Bili%C5%9Fim+Bilimleri+Fak%C3%BCltesi!5e0!3m2!1str!2s!4v1481989433671" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>