﻿@model IEnumerable<webProjeOdevi.DAL.Item>
@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("SepeteEkle", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{


    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs-main">
                <ol class="breadcrumb">
                    <li><a href="/Home">Anasayfa</a></li>
                    <li><a href="/Home/ItemListAll">Ürünler</a></li>
                    <li class="active">Ürün</li>
                </ol>
            </div>
        </div>
    </div>

<!--start-single-->
<div class="single contact">
    <div class="container">
        <div class="single-main">
            <div class="col-md-12 single-main-left">
                <div class="sngl-top">
                    @foreach (var item in Model)
                    {
                       <input name="ITM_ID" type="hidden" value="@item.ITM_ID" />
                    <div class="col-md-5 single-top-left">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="~/Content/images/@item.ITM_Photo">
                                    <div class="thumb-image"> <img src="~/Content/images/@item.ITM_Photo" class="img-responsive" alt="" /> </div>
                                </li>

                            </ul>
                        </div>

                    </div>
                    <div class="col-md-7 single-top-right">
                        <div class="single-para simpleCart_shelfItem">
                            <h2>@item.ITM_Name</h2>
                            <h5 class="item_price">@item.ITM_Price TL</h5>
                            <p>@item.ITM_Desc</p>

                            <input type="submit" value="SEPETE EKLE" class="add-cart item_add"/>

                        </div>
                    </div>
                    <div class="clearfix"> </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>
        <!--end-single-->
}